<% provide(:title, 'About') %>
<div class="index about">
	<div class="shadows">
		<h2>The Picture Game was built by <a href="http://www.jordanrust.tech">Jordan Rust</a> as a project for the Web Development Immersive Course at General Assembly. This project challenged students to build their first Full-Stack application using the Rails framework.</h2>
	</div>
	<h4>Technologies include:</h4>
	<ul>
	  <li><a href="https://www.ruby-lang.org/">Ruby</a></li>
	  <li><a href="http://rubyonrails.org/">Rails</a></li>
	  <li><a href="http://www.postgresql.org/">PostgreSQL</a></li>
	  <li><a href="http://lesscss.org/">LESS</a></li>
	  <li><a href="http://qrohlf.com/trianglify/">Trianglify</a></li>
	  <li><a href="https://github.com/NyxHemera/canvas-actual">CanvasActual</a></li>
	  <li><a href="https://github.com/NyxHemera/apheleia.css">Apheleia.css</a></li>
	</ul>

	<a class="btn btn-accent" href="http://www.jordanrust.tech">View my Full Portfolio</a>

</div>