<% provide(:title, 'Picture Game - Home') %>
<div class="">
  <h1>Welcome to the Picture Game</h1>
  <h3>This is the home page for the Picture Game.</h3>
  <br/>
  <button><%= link_to 'Sign-Up', signup_path %></button>
  <button><%= link_to 'Sign-In', signin_path %></button>
</div>