<div>
	<%= link_to new_user_path, class: '' do %>
		New User
	<% end %>
	<h1>Listing users</h1>
</div>

<div>
	<% @users.each do |user| %>
		<%= render "userlistitem", :user => user %>
	<% end %>
</div>
