<div class="home-wrap">
<img src="/logo-sm.png" class='logo-sm'>
<%= render 'form' %>
</div>

<style type="text/css">
	.logo-sm {
		display: none;
	}
	.home-wrap > .logo-sm {
		display: block;
		padding-top: 4vh;
	}
</style>