<%= form_for(@game, html: { class: "form-horizontal", role: "form" }) do |f| %>
	<div class="">
    <%= f.label :stories, class: "" %>
    <div class="">
      <%= f.text_field :stories, class: "" %>
    </div>
  </div>
	<div class="">
		<div class="">
			<%= f.submit class: "" %>
		</div>
	</div>
<% end %>
