body {
  margin: 0;
  padding: 0;
}
.toolbar {
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 150px;
  cursor: move;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
