.index {
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.user-li-wrap {
	position: relative;
	box-sizing: border-box;
	width: 400px;
	height: 150px;
	//margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 2px;
	//border: solid black 1px;
	background-color: rgba(255, 255, 255, 0.90);
	img {
		position: absolute;
		top: 5px;
		left: 5px;
		max-height: 140px;
		max-width: 140px;
	}
	h4,
	h5 {
		display: inline-block;
		position: relative;
		top: 5px;
		left: 150px;
		margin: 0;
		padding: 0;
	}
	h4 {
		font-size: 25px;
	}
	h5 {
		font-size: 20px;
	}
	> a {
		text-decoration: none;
		color: inherit;
		position: absolute;
		font-weight: bold;
		right: 5px;
		bottom: 5px;
		font-size: 18px;
	}
}

.game-li-wrap {
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 400px;
	height: 100px;
	margin: 0 auto;
	padding: 5px;
	//border: solid black 1px;
	background-color: rgba(255, 255, 255, 0.90);
	justify-content: space-between;
	margin-bottom: 20px;
	border-radius: 2px;
	> div {
		position: relative;
	}
	h4,
	h5 {
		font-size: 20px;
		margin: 0;
		padding: 0;
	}
	> div > h4 {
		text-align: right;
	}
	> div > h5:last-child {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	> a {
		text-decoration: none;
		color: inherit;
		position: absolute;
		font-weight: bold;
		right: 5px;
		bottom: 5px;
		font-size: 18px;
	}
}

.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: absolute;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 35px;
  width: 35px;
  cursor: pointer;
  //background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  //background-size: contain;
  & span, & span:before, & span:after {
	  cursor: pointer;
	  border-radius: 1px;
	  height: 5px;
	  width: 35px;
	  background: white;
	  position: absolute;
	  display: block;
	  content: '';
	  transition: all 500ms ease-in-out;
	}
	span {
  	top: 15px;
  }
	span:before {
		top: -10px;
	}
	span:after {
		bottom: -10px;
	}
}

.nav-trigger:checked ~ label[for="nav-trigger"] {
	span {
		background-color: transparent;
	}
	span:before, span:after {
		top: 0;
	}
	span:before {
		transform: rotate(45deg);
	}
	span:after {
		transform: rotate(-45deg);
	}
}

.nav-trigger:checked ~ .dropdownnav {
	opacity: 1;
	visibility: visible;
}

.dropdownnav {
	position: relative;
	left: 15px;
	display: inline-block;
	list-style: none;
	padding: 5px;
	margin: 0;
	opacity: 0;
	visibility: hidden;
	transition: ease 200ms;
	background-color: rgba(255, 255, 255, 0.90);
	a {
		text-decoration: none;
		color: black;
	}
	li {
		margin: 5px 0;
		text-align: center;
		&:not(:first-child):not(:last-child) {
			border-top: solid rgba(0, 0, 0, 0.75) 1px;
		}
		&:last-child {
			margin-top: 10px;
		}
	}
}

.wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	&:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}

.tooltiptext {
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	margin: 0;
	padding: 3px;
	border-radius: 3px;

	position: absolute;
	z-index: 1;
	transition: ease 500ms;
	> li {
		display: inline-block;
		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

@media only screen and (max-device-width : 768px) {
    .user-li-wrap {
			position: relative;
			box-sizing: border-box;
			width: 95vw;
			height: 35.625vw;
			margin-bottom: 10px;
			img {
				position: absolute;
				top: 5px;
				left: 5px;
				max-height: 34vw;
				max-width: 34vw;
			}
			h4,
			h5 {
				position: relative;
				top: 5px;
				left: 36vw;
				margin: 0;
				padding: 0;
			}
			h4 {
				font-size: 6vw;
			}
			h5 {
				font-size: 5vw;
			}
			button {
				position: absolute;
				font-weight: bold;
				right: 5px;
				bottom: 5px;
				font-size: 5vw;
			}
		}
}