@accent: #ff5722;
@text-icon: #fff;
@dark-primary: #0097a7;
@primary: #00bcd4;
@light-primary: #b2ebf2;
@text-primary: #212121;
@text-secondary: #727272;
@divider: #b6b6b6;

::-webkit-scrollbar { 
  display: none; 
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	//min-width: 100vw;
}

label[for='game_num_rounds'] {
	margin: 10px auto 10px auto;
	text-align: center;
}

#game_num_rounds {
	margin-bottom: 30px;
	width: 5vw;
	text-align: center;
}

#game_story {
	margin: 0 auto;
	width: 25vw;
	height: 10vh;
}

#new_game,
.edit_game {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	input:last-child {
		margin: 0 0 30px 0;
	}
}

.edit_game {
	#game_story {
		margin: 20px 0;
	}
}

#new_game {
	#game_story {
		margin-bottom: 20px;
	}
}

.about {
	> div {
		background-color: rgba(255, 255, 255, 0.9);
		color: @text-primary;
		border-radius: 10px;
		max-width: 50vw;
		padding: 1vw;
		h2 {
			margin: 0;
		}
		a {
			box-sizing: border-box;
			text-decoration: none;
			border-bottom: dotted 2px @text-primary;
			color: inherit;
		}
	}

	> h4 {
		color: @text-icon;
		margin: 10px auto;
		font-size: 3vw;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	}
	> ul {
		color: @text-icon;
		padding: 0;
		margin: 0;
		margin-bottom: 15px;
		li {
			text-align: center;
			list-style: none;
			margin: 5px 0;
			font-size: 2vw;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
			a {
				text-decoration: none;
				color: inherit;
				border-bottom: dotted 1px @text-icon;
			}
		}
	}
	> a {
		font-size: 2.5vw;
		text-decoration: none;
	}
}

.cell {
	//min-width: 30vw;
	max-width: 60vw;
	//margin-left: 5vw;
	text-align: center;
	img {
		max-width: 100%;
	}
}

.dropdownnav {
	position: relative;
	z-index: 10;
	left: 15px;
	display: inline-block;
	visibility: hidden;
	margin: 0;
	padding: 5px;
	list-style: none;
	transition: ease 200ms;
	opacity: 0;
	background-color: rgba(255, 255, 255, .90);
	a {
		text-decoration: none;
		color: black;
	}
	li {
		margin: 5px 0;
		text-align: center;
		&:not(:first-child) {
			border-top: solid rgba(0, 0, 0, .75) 1px;
		}
		&:last-child,
		&:nth-child(5) {
			margin-top: 10px;
			border-top: none;
		}
	}
}

.finished-row {
	display: flex;
	width: 100vw;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	h3:last-child {
		margin-left: 5vw;
	}
	&:not(:last-of-type) {
		margin-bottom: 5vh;
	}
}

.form-fixed {
	label {
		font-size: 4vmin;
		color: @text-icon;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	}
	input {
		margin: 10px auto;
	}
	input[type='submit'] {
		display: block;
		margin: 10px auto;
		font-size: 4vmin;
	}
}

.game-group {
	margin: 10px auto;
	.btn {
		font-size: 2vw;
	}
}

.game-li-wrap {
	position: relative;
	//display: flex;
	box-sizing: border-box;
	width: 40vw;
	height: 10vw;
	margin: 0 auto;
	margin-bottom: 20px;
	//padding: 5px;
	border-radius: 5px;
	//border: solid black 1px;
	background-color: rgba(255, 255, 255, .90);
	//justify-content: space-between;
	.photolist {
		display: inline-block;
		position: relative;
		top: .5vw;
		left: .5vw;
	}
	h4,
	h5 {
		color: @text-primary;
		//display: inline-block;
		font-size: 2.0vw;
		margin: 0;
		padding: 0;
	}
	> h4 {
		text-align: right;
		position: absolute;
		top: .5vw;
		right: .5vw;
		&:last-of-type {
			top: 2.5vw;
		}
		&:first-of-type {
			top: .5vw;
		}
	}
	> h5 {
		position: absolute;
		bottom: .5vw;
		left: .5vw;
	}
	> a {
		font-size: 1.8vw;
		font-weight: bold;
		position: absolute;
		right: .5vw;
		bottom: .5vw;
		text-decoration: none;
		color: inherit;
	}
}

.home-wrap {
	display: flex;
	width: 100vw;
	height: 100vh;
	transition: all 500ms ease;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	button {
		font-size: 5vmin;
		&:last-of-type {
			margin-left: 30px;
		}
	}
	> h3 {
		font-size: 4vmin;
		cursor: pointer;
		color: #fff;
		border-bottom: dotted .4vmin rgba(0, 0, 0, .5);
		text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
	}
}

.index {
	position: relative;
	z-index: 0;
	display: flex;
	width: 100vw;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.logo-lg {
	width: 100vw;
	max-width: 1100px;
}

.logo-sm {
	display: block;
	width: 40vmax;
	margin: 0 auto;
	padding-left: 30px;
}

.nav-trigger {
	/* critical styles - hide the checkbox input */
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

label[for='nav-trigger'] {
	// critical positioning styles
	position: absolute;
	z-index: 2;
	top: 15px;
	left: 15px;
	width: 35px;
	// non-critical apperance styles 
	height: 35px;
	cursor: pointer;
	/*
  span:nth-of-type(2) {
  	background-color: transparent;
  }*/
	span:first-child {
		top: 0;
	}
	span:nth-of-type(2),
	span:nth-of-type(3) {
		top: 15px;
	}
	span:last-child {
		bottom: 0;
	}
	span {
		position: absolute;
		display: block;
		width: 35px;
		height: 5px;
		content: '';
		cursor: pointer;
		transition: all 500ms ease-in-out;
		border-radius: 10px;
		background: rgba(0, 0, 0, .7);
		;
	}
}

.nav-trigger:checked ~ label[for='nav-trigger'] {
	span:first-child,
	span:last-child {
		background-color: transparent;
	}
	span:nth-of-type(2) {
		transform: rotate(45deg);
	}
	span:nth-of-type(3) {
		transform: rotate(-45deg);
	}
	span {
		top: 15px;
	}
}

.nav-trigger:checked ~ .dropdownnav {
	visibility: visible;
	opacity: 1;
}

.overlay-wrap {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	visibility: hidden;
	width: 100vw;
	height: 100vh;
	transition: opacity 500ms ease;
	opacity: 0;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.overlay-text-wrap {
	width: 50vw;
	padding: 15px;
	pointer-events: none;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .9);
}

.photolist {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		img {
			max-width: 4vw;
		}
	}
}

.show {
	a img {
		position: absolute;
		right: 85vw;
		max-width: 10vw;
	}
	h3 {
		color: @text-icon;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
		margin: 1vw 0;
	}
	.names {
		position: absolute;
		text-align: right;
		right: 85vw;
		font-size: 2vw;
		margin: 1.5vw 0;
	}
	.names:nth-child(even) {

	}
	h3:not(.names) {
		font-size: 3vw;
	}
}

.showusr {
	margin-top: 15vw;
}

.text-signin {
	margin: 1vh;
	color: @text-icon;
	font-size: 4vmin;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	& + .btn {
		padding: .7vmin;
		font-size: 3vmin;
		text-decoration: none;
	}
}

.text-title-game {
	margin: 30px auto;
	text-align: center;
	font-size: 5vmin;
	color: @text-icon;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.text-title-page {
	font-size: 4vmin;
	color: @text-icon;
	border-bottom: dashed .4vmin @text-icon;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	&:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}

.tooltiptext {
	position: absolute;
	z-index: 1;
	visibility: hidden;
	margin: 0;
	padding: 3px;
	transition: ease 500ms;
	white-space: nowrap;
	opacity: 0;
	color: white;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .75);
	> li {
		display: inline-block;
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}

.user-li-wrap {
	position: relative;
	box-sizing: border-box;
	width: 40vw;
	height: 15vw;
	margin-bottom: 20px;
	color: @text-primary;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .90);
	img {
		position: absolute;
		top: .5vw;
		left: .5vw;
		max-width: 14vw;
		max-height: 14vw;
	}
	ul {
		position: relative;
		top: .5vw;
		//set to right of image
		left: 15vw;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	h4,
	h5 {
		margin: 0;
		padding: 0;
	}
	h4 {
		font-size: 2.5vw;
	}
	h5 {
		font-size: 2.0vw;
		color: darken(@text-secondary, 10%);
	}
	> a {
		font-size: 1.8vw;
		font-weight: bold;
		position: absolute;
		right: .5vw;
		bottom: .5vw;
		text-decoration: none;
		color: inherit;
	}
	& + .game-group {
		margin-top: 0px; 
	}
}

.wrap {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	flex-flow: row nowrap;
	align-items: center;
	* {
		pointer-events: all;
	}
}

@media only screen and (max-device-width: 768px) {
	body {
		background-repeat: repeat;
		background-attachment: scroll;
	}
	.game-group {
		.btn {
			font-size: 4vw;
		}
	}
	.user-li-wrap {
		width: 95vw;
		height: 35.625vw;
		margin-bottom: 10px;
		img {
			top: .8125vw;
			left: .8125vw;
			max-width: 34vw;
			max-height: 34vw;
		}
		ul {
			position: relative;
			top: .5vw;
			//set to right of image
			left: 35.625vw;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		h4,
		h5 {
			margin: 0;
			padding: 0;
		}
		h4 {
			font-size: 6vw;
		}
		h5 {
			font-size: 5vw;
			color: darken(@text-secondary, 10%);
		}
		> a {
			font-size: 4.5vw;
			right: 1vw;
			bottom: 1vw;
		}
	}

	.game-li-wrap {
		width: 95vw;
		height: 24vw;
		margin-bottom: 10px;
		.photolist {
			display: inline-block;
			position: relative;
			top: .5vw;
			left: .5vw;
		}
		h4,
		h5 {
			font-size: 6.0vw;
		}
		> h4 {
			top: 1vw;
			right: 1vw;
			&:last-of-type {
				top: 7vw;
			}
			&:first-of-type {
				top: 1vw;
			}
		}
		> h5 {
			position: absolute;
			bottom: 1vw;
			left: 1vw;
		}
		> a {
			font-size: 4.5vw;
			right: 1vw;
			bottom: 1vw;
		}
	}

	.photolist {
		li {
			img {
				max-width: 10vw;
			}
		}
	}

	.show {
		.names {
			right: 88vw;
		}
	}

	.cell {
		max-width: 75vw;
		margin: 0;
	}
	.form-fixed {
		width: 50vw;
		label {
			font-size: 2vh;
		}
	}
	.overlay-text-wrap {
		width: 80vw;
	}
}
