.index {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.text-title {
  margin: 0 auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.text-title-game {
  margin: 30px auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
label[for='game_num_rounds'] {
  margin: 10px 0 10px 0;
  text-align: center;
}
.edit_game #game_story {
  margin: 20px 0;
}
#game_num_rounds {
  margin-bottom: 30px;
}
#game_story {
  width: 25vw;
  height: 10vh;
}
#new_game,
.edit_game {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#new_game input:last-child,
.edit_game input:last-child {
  margin: 0 0 30px 0;
}
#new_game #game_story {
  margin-bottom: 20px;
}
.user-li-wrap {
  position: relative;
  box-sizing: border-box;
  width: 400px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
}
.user-li-wrap img {
  position: absolute;
  top: 5px;
  left: 5px;
  max-height: 140px;
  max-width: 140px;
}
.user-li-wrap h4,
.user-li-wrap h5 {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 150px;
  margin: 0;
  padding: 0;
}
.user-li-wrap h4 {
  font-size: 25px;
}
.user-li-wrap h5 {
  font-size: 20px;
}
.user-li-wrap > a {
  text-decoration: none;
  color: inherit;
  position: absolute;
  font-weight: bold;
  right: 5px;
  bottom: 5px;
  font-size: 18px;
}
.game-li-wrap {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 400px;
  height: 100px;
  margin: 0 auto;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 2px;
}
.game-li-wrap > div {
  position: relative;
}
.game-li-wrap h4,
.game-li-wrap h5 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.game-li-wrap > div > h4 {
  text-align: right;
}
.game-li-wrap > div > h5:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}
.game-li-wrap > a {
  text-decoration: none;
  color: inherit;
  position: absolute;
  font-weight: bold;
  right: 5px;
  bottom: 5px;
  font-size: 18px;
}
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
  height: 35px;
  width: 35px;
  cursor: pointer;
  /*
  span:nth-of-type(2) {
  	background-color: transparent;
  }*/
}
label[for="nav-trigger"] span {
  cursor: pointer;
  border-radius: 10px;
  height: 5px;
  width: 35px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}
label[for="nav-trigger"] span:first-child {
  top: 0;
}
label[for="nav-trigger"] span:nth-of-type(2),
label[for="nav-trigger"] span:nth-of-type(3) {
  top: 15px;
}
label[for="nav-trigger"] span:last-child {
  bottom: 0;
}
.nav-trigger:checked ~ label[for="nav-trigger"] span {
  top: 15px;
}
.nav-trigger:checked ~ label[for="nav-trigger"] span:first-child,
.nav-trigger:checked ~ label[for="nav-trigger"] span:last-child {
  background-color: transparent;
}
.nav-trigger:checked ~ label[for="nav-trigger"] span:nth-of-type(2) {
  transform: rotate(45deg);
}
.nav-trigger:checked ~ label[for="nav-trigger"] span:nth-of-type(3) {
  transform: rotate(-45deg);
}
.nav-trigger:checked ~ .dropdownnav {
  opacity: 1;
  visibility: visible;
}
.dropdownnav {
  position: relative;
  left: 15px;
  display: inline-block;
  list-style: none;
  padding: 5px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: ease 200ms;
  background-color: rgba(255, 255, 255, 0.9);
}
.dropdownnav a {
  text-decoration: none;
  color: black;
}
.dropdownnav li {
  margin: 5px 0;
  text-align: center;
}
.dropdownnav li:not(:first-child) {
  border-top: solid rgba(0, 0, 0, 0.75) 1px;
}
.dropdownnav li:last-child,
.dropdownnav li:nth-child(4) {
  margin-top: 10px;
  border-top: none;
}
.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  pointer-events: none;
}
.wrap * {
  pointer-events: all;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltiptext {
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  margin: 0;
  padding: 3px;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  transition: ease 500ms;
}
.tooltiptext > li {
  display: inline-block;
}
.tooltiptext > li a {
  color: inherit;
  text-decoration: none;
}
@media only screen and (max-device-width: 768px) {
  .user-li-wrap {
    position: relative;
    box-sizing: border-box;
    width: 95vw;
    height: 35.625vw;
    margin-bottom: 10px;
  }
  .user-li-wrap img {
    position: absolute;
    top: 5px;
    left: 5px;
    max-height: 34vw;
    max-width: 34vw;
  }
  .user-li-wrap h4,
  .user-li-wrap h5 {
    position: relative;
    top: 5px;
    left: 36vw;
    margin: 0;
    padding: 0;
  }
  .user-li-wrap h4 {
    font-size: 6vw;
  }
  .user-li-wrap h5 {
    font-size: 5vw;
  }
  .user-li-wrap button {
    position: absolute;
    font-weight: bold;
    right: 5px;
    bottom: 5px;
    font-size: 5vw;
  }
}
