body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}
label[for='game_num_rounds'] {
  margin: 10px 0 10px 0;
  text-align: center;
}
#game_num_rounds {
  margin-bottom: 30px;
}
#game_story {
  width: 25vw;
  height: 10vh;
}
#new_game,
.edit_game {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#new_game input:last-child,
.edit_game input:last-child {
  margin: 0 0 30px 0;
}
.edit_game #game_story {
  margin: 20px 0;
}
#new_game #game_story {
  margin-bottom: 20px;
}
.cell {
  margin-left: 5vw;
  text-align: center;
  max-width: 60vw;
  min-width: 30vw;
}
.cell img {
  max-width: 100%;
}
.dropdownnav {
  position: relative;
  z-index: 10;
  left: 15px;
  display: inline-block;
  list-style: none;
  padding: 5px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: ease 200ms;
  background-color: rgba(255, 255, 255, 0.9);
}
.dropdownnav a {
  text-decoration: none;
  color: black;
}
.dropdownnav li {
  margin: 5px 0;
  text-align: center;
}
.dropdownnav li:not(:first-child) {
  border-top: solid rgba(0, 0, 0, 0.75) 1px;
}
.dropdownnav li:last-child,
.dropdownnav li:nth-child(4) {
  margin-top: 10px;
  border-top: none;
}
.finished-row {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.finished-row:not(:last-of-type) {
  margin-bottom: 5vh;
}
.finished-row h3:last-child {
  margin-left: 5vw;
}
.game-li-wrap {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 400px;
  height: 100px;
  margin: 0 auto;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 2px;
}
.game-li-wrap > div {
  position: relative;
}
.game-li-wrap h4,
.game-li-wrap h5 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.game-li-wrap > div > h4 {
  text-align: right;
}
.game-li-wrap > div > h5:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}
.game-li-wrap > a {
  text-decoration: none;
  color: inherit;
  position: absolute;
  font-weight: bold;
  right: 5px;
  bottom: 5px;
  font-size: 18px;
}
.home-wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all 500ms ease;
}
.home-wrap button {
  font-size: 5vmin;
}
.home-wrap button:last-of-type {
  margin-left: 30px;
}
.home-wrap > h3 {
  color: #FFFFFF;
  font-size: 4vmin;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-bottom: dotted 0.4vmin rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.index {
  position: relative;
  z-index: 0;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.logo-lg {
  width: 100vw;
  max-width: 1100px;
}
.logo-sm {
  width: 40vmax;
  display: block;
  margin: 0 auto;
  padding-left: 30px;
}
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
  height: 35px;
  width: 35px;
  cursor: pointer;
  /*
  span:nth-of-type(2) {
  	background-color: transparent;
  }*/
}
label[for="nav-trigger"] span {
  cursor: pointer;
  border-radius: 10px;
  height: 5px;
  width: 35px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}
label[for="nav-trigger"] span:first-child {
  top: 0;
}
label[for="nav-trigger"] span:nth-of-type(2),
label[for="nav-trigger"] span:nth-of-type(3) {
  top: 15px;
}
label[for="nav-trigger"] span:last-child {
  bottom: 0;
}
.nav-trigger:checked ~ label[for="nav-trigger"] span {
  top: 15px;
}
.nav-trigger:checked ~ label[for="nav-trigger"] span:first-child,
.nav-trigger:checked ~ label[for="nav-trigger"] span:last-child {
  background-color: transparent;
}
.nav-trigger:checked ~ label[for="nav-trigger"] span:nth-of-type(2) {
  transform: rotate(45deg);
}
.nav-trigger:checked ~ label[for="nav-trigger"] span:nth-of-type(3) {
  transform: rotate(-45deg);
}
.nav-trigger:checked ~ .dropdownnav {
  opacity: 1;
  visibility: visible;
}
.overlay-wrap {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: opacity 500ms ease;
}
.overlay-text-wrap {
  width: 50vw;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  pointer-events: none;
}
.text-title-game {
  margin: 30px auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.text-title-page {
  color: #FFFFFF;
  font-size: 4vmin;
  border-bottom: dashed 0.4vmin #FFFFFF;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltiptext {
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  margin: 0;
  padding: 3px;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  transition: ease 500ms;
}
.tooltiptext > li {
  display: inline-block;
}
.tooltiptext > li a {
  color: inherit;
  text-decoration: none;
}
.user-li-wrap {
  position: relative;
  box-sizing: border-box;
  width: 40vw;
  height: 15vw;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #212121;
}
.user-li-wrap img {
  position: absolute;
  top: .5vw;
  left: .5vw;
  max-height: 14vw;
  max-width: 14vw;
}
.user-li-wrap ul {
  position: relative;
  top: .5vw;
  left: 15vw;
  list-style: none;
  padding: 0;
  margin: 0;
}
.user-li-wrap h4,
.user-li-wrap h5 {
  margin: 0;
  padding: 0;
}
.user-li-wrap h4 {
  font-size: 2.5vw;
}
.user-li-wrap h5 {
  color: #595959;
  font-size: 2.0vw;
}
.user-li-wrap > a {
  text-decoration: none;
  color: inherit;
  position: absolute;
  font-weight: bold;
  right: .5vw;
  bottom: .5vw;
  font-size: 1.8vw;
}
.wrap {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  pointer-events: none;
}
.wrap * {
  pointer-events: all;
}
@media only screen and (max-device-width: 768px) {
  body {
    background-attachment: scroll;
    background-repeat: repeat;
  }
  .user-li-wrap {
    width: 95vw;
    height: 35.625vw;
    margin-bottom: 10px;
  }
  .user-li-wrap img {
    top: .8125vw;
    left: .8125vw;
    max-height: 34vw;
    max-width: 34vw;
  }
  .user-li-wrap ul {
    position: relative;
    top: .5vw;
    left: 35.625vw;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .user-li-wrap h4,
  .user-li-wrap h5 {
    margin: 0;
    padding: 0;
  }
  .user-li-wrap h4 {
    font-size: 6vw;
  }
  .user-li-wrap h5 {
    color: #595959;
    font-size: 5vw;
  }
  .user-li-wrap > a {
    right: 1vw;
    bottom: 1vw;
    font-size: 4.5vw;
  }
  .cell {
    margin: 0;
    max-width: 90vw;
  }
  .overlay-text-wrap {
    width: 80vw;
  }
}
