::-webkit-scrollbar {
  display: none;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}
label[for='game_num_rounds'] {
  margin: 10px auto 10px auto;
  text-align: center;
}
#game_num_rounds {
  margin-bottom: 30px;
  width: 5vw;
  text-align: center;
}
#game_story {
  margin: 0 auto;
  width: 25vw;
  height: 10vh;
}
#new_game,
.edit_game {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#new_game input:last-child,
.edit_game input:last-child {
  margin: 0 0 30px 0;
}
.edit_game #game_story {
  margin: 20px 0;
}
#new_game #game_story {
  margin-bottom: 20px;
}
.about > div {
  background-color: rgba(255, 255, 255, 0.9);
  color: #212121;
  border-radius: 10px;
  max-width: 50vw;
  padding: 1vw;
}
.about > div h2 {
  margin: 0;
}
.about > div a {
  box-sizing: border-box;
  text-decoration: none;
  border-bottom: dotted 2px #212121;
  color: inherit;
}
.about > h4 {
  color: #fff;
  margin: 10px auto;
  font-size: 3vw;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.about > ul {
  color: #fff;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
.about > ul li {
  text-align: center;
  list-style: none;
  margin: 5px 0;
  font-size: 2vw;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.about > ul li a {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px #fff;
}
.about > a {
  font-size: 2.5vw;
  text-decoration: none;
}
.cell {
  max-width: 60vw;
  text-align: center;
}
.cell img {
  max-width: 100%;
}
.dropdownnav {
  position: relative;
  z-index: 10;
  left: 15px;
  display: inline-block;
  visibility: hidden;
  margin: 0;
  padding: 5px;
  list-style: none;
  transition: ease 200ms;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.dropdownnav a {
  text-decoration: none;
  color: black;
}
.dropdownnav li {
  margin: 5px 0;
  text-align: center;
}
.dropdownnav li:not(:first-child) {
  border-top: solid rgba(0, 0, 0, 0.75) 1px;
}
.dropdownnav li:last-child,
.dropdownnav li:nth-child(5) {
  margin-top: 10px;
  border-top: none;
}
.finished-row {
  display: flex;
  width: 100vw;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.finished-row h3:last-child {
  margin-left: 5vw;
}
.finished-row:not(:last-of-type) {
  margin-bottom: 5vh;
}
.form-fixed label {
  font-size: 4vmin;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.form-fixed input {
  margin: 10px auto;
}
.form-fixed input[type='submit'] {
  display: block;
  margin: 10px auto;
  font-size: 4vmin;
}
.game-group {
  margin: 10px auto;
}
.game-group .btn {
  font-size: 2vw;
}
.game-li-wrap {
  position: relative;
  box-sizing: border-box;
  width: 40vw;
  height: 10vw;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}
.game-li-wrap .photolist {
  display: inline-block;
  position: relative;
  top: .5vw;
  left: .5vw;
}
.game-li-wrap h4,
.game-li-wrap h5 {
  color: #212121;
  font-size: 2.0vw;
  margin: 0;
  padding: 0;
}
.game-li-wrap > h4 {
  text-align: right;
  position: absolute;
  top: .5vw;
  right: .5vw;
}
.game-li-wrap > h4:last-of-type {
  top: 2.5vw;
}
.game-li-wrap > h4:first-of-type {
  top: .5vw;
}
.game-li-wrap > h5 {
  position: absolute;
  bottom: .5vw;
  left: .5vw;
}
.game-li-wrap > a {
  font-size: 1.8vw;
  font-weight: bold;
  position: absolute;
  right: .5vw;
  bottom: .5vw;
  text-decoration: none;
  color: inherit;
}
.home-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: all 500ms ease;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.home-wrap button {
  font-size: 5vmin;
}
.home-wrap button:last-of-type {
  margin-left: 30px;
}
.home-wrap > h3 {
  font-size: 4vmin;
  cursor: pointer;
  color: #fff;
  border-bottom: dotted 0.4vmin rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.index {
  position: relative;
  z-index: 0;
  display: flex;
  width: 100vw;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.logo-lg {
  width: 100vw;
  max-width: 1100px;
}
.logo-sm {
  display: block;
  width: 40vmax;
  margin: 0 auto;
  padding-left: 30px;
}
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
label[for='nav-trigger'] {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /*
  span:nth-of-type(2) {
  	background-color: transparent;
  }*/
}
label[for='nav-trigger'] span:first-child {
  top: 0;
}
label[for='nav-trigger'] span:nth-of-type(2),
label[for='nav-trigger'] span:nth-of-type(3) {
  top: 15px;
}
label[for='nav-trigger'] span:last-child {
  bottom: 0;
}
label[for='nav-trigger'] span {
  position: absolute;
  display: block;
  width: 35px;
  height: 5px;
  content: '';
  cursor: pointer;
  transition: all 500ms ease-in-out;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
}
.nav-trigger:checked ~ label[for='nav-trigger'] span:first-child,
.nav-trigger:checked ~ label[for='nav-trigger'] span:last-child {
  background-color: transparent;
}
.nav-trigger:checked ~ label[for='nav-trigger'] span:nth-of-type(2) {
  transform: rotate(45deg);
}
.nav-trigger:checked ~ label[for='nav-trigger'] span:nth-of-type(3) {
  transform: rotate(-45deg);
}
.nav-trigger:checked ~ label[for='nav-trigger'] span {
  top: 15px;
}
.nav-trigger:checked ~ .dropdownnav {
  visibility: visible;
  opacity: 1;
}
.overlay-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  transition: opacity 500ms ease;
  opacity: 0;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.overlay-text-wrap {
  width: 50vw;
  padding: 15px;
  pointer-events: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}
.photolist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.photolist li {
  display: inline-block;
}
.photolist li img {
  max-width: 4vw;
}
.show a img {
  position: absolute;
  right: 85vw;
  max-width: 10vw;
}
.show h3 {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin: 1vw 0;
}
.show .names {
  position: absolute;
  text-align: right;
  right: 85vw;
  font-size: 2vw;
  margin: 1.5vw 0;
}
.show h3:not(.names) {
  font-size: 3vw;
}
.showusr {
  margin-top: 15vw;
}
.text-signin {
  margin: 1vh;
  color: #fff;
  font-size: 4vmin;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.text-signin + .btn {
  padding: .7vmin;
  font-size: 3vmin;
  text-decoration: none;
}
.text-title-game {
  margin: 30px auto;
  text-align: center;
  font-size: 5vmin;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.text-title-page {
  font-size: 4vmin;
  color: #fff;
  border-bottom: dashed 0.4vmin #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltiptext {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  margin: 0;
  padding: 3px;
  transition: ease 500ms;
  white-space: nowrap;
  opacity: 0;
  color: white;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.75);
}
.tooltiptext > li {
  display: inline-block;
}
.tooltiptext > li a {
  text-decoration: none;
  color: inherit;
}
.user-li-wrap {
  position: relative;
  box-sizing: border-box;
  width: 40vw;
  height: 15vw;
  margin-bottom: 20px;
  color: #212121;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}
.user-li-wrap img {
  position: absolute;
  top: .5vw;
  left: .5vw;
  max-width: 14vw;
  max-height: 14vw;
}
.user-li-wrap ul {
  position: relative;
  top: .5vw;
  left: 15vw;
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-li-wrap h4,
.user-li-wrap h5 {
  margin: 0;
  padding: 0;
}
.user-li-wrap h4 {
  font-size: 2.5vw;
}
.user-li-wrap h5 {
  font-size: 2.0vw;
  color: #595959;
}
.user-li-wrap > a {
  font-size: 1.8vw;
  font-weight: bold;
  position: absolute;
  right: .5vw;
  bottom: .5vw;
  text-decoration: none;
  color: inherit;
}
.user-li-wrap + .game-group {
  margin-top: 0px;
}
.wrap {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  flex-flow: row nowrap;
  align-items: center;
}
.wrap * {
  pointer-events: all;
}
@media only screen and (max-device-width: 768px) {
  body {
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .game-group .btn {
    font-size: 4vw;
  }
  .user-li-wrap {
    width: 95vw;
    height: 35.625vw;
    margin-bottom: 10px;
  }
  .user-li-wrap img {
    top: .8125vw;
    left: .8125vw;
    max-width: 34vw;
    max-height: 34vw;
  }
  .user-li-wrap ul {
    position: relative;
    top: .5vw;
    left: 35.625vw;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .user-li-wrap h4,
  .user-li-wrap h5 {
    margin: 0;
    padding: 0;
  }
  .user-li-wrap h4 {
    font-size: 6vw;
  }
  .user-li-wrap h5 {
    font-size: 5vw;
    color: #595959;
  }
  .user-li-wrap > a {
    font-size: 4.5vw;
    right: 1vw;
    bottom: 1vw;
  }
  .game-li-wrap {
    width: 95vw;
    height: 24vw;
    margin-bottom: 10px;
  }
  .game-li-wrap .photolist {
    display: inline-block;
    position: relative;
    top: .5vw;
    left: .5vw;
  }
  .game-li-wrap h4,
  .game-li-wrap h5 {
    font-size: 6.0vw;
  }
  .game-li-wrap > h4 {
    top: 1vw;
    right: 1vw;
  }
  .game-li-wrap > h4:last-of-type {
    top: 7vw;
  }
  .game-li-wrap > h4:first-of-type {
    top: 1vw;
  }
  .game-li-wrap > h5 {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
  }
  .game-li-wrap > a {
    font-size: 4.5vw;
    right: 1vw;
    bottom: 1vw;
  }
  .photolist li img {
    max-width: 10vw;
  }
  .show .names {
    right: 88vw;
  }
  .cell {
    max-width: 75vw;
    margin: 0;
  }
  .form-fixed {
    width: 50vw;
  }
  .form-fixed label {
    font-size: 2vh;
  }
  .overlay-text-wrap {
    width: 80vw;
  }
}
